[submodule "mswlogo"]
  path = mswlogo
  url = git@github.com:anuraghazra/classicLogo.git
[submodule "evolutionAquarium"]
  path = evolutionAquarium
  url = git@github.com:anuraghazra/EvolutionAquerium.git